/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.sidenav-trigger {
    color: #26a69a;
}

#text-between {
    font-size: 48px;
}

#highlight-span {
    text-align: center;
    font-size: 30px;
    margin-right: 25px;
}

.light {
    font-size: 24px;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

.white-text {
    font-size: 28px;
    color: black;
}

.center-align {
    font-size: 28px;
}

.header {
    font-size: 38px;
}

.fa-linkedin-in {
    font-size: 60px;
}

.fa-github {
    font-size: 60px;
}

.fa-file {
    font-size: 60px;
}

.fa-envelope {
    font-size: 60px;
    color: #26a69a;
}

.fa-mobile-alt {
    font-size: 60px;
    color: #26a69a;
}

h4 {
    font-size: 40px;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 25%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}